<div class="flex flex-col items-center px-16 pt-5 pb-20 w-full bg-white max-md:px-5 max-md:max-w-full">
    <div class="flex flex-col p-4 mb-96 w-full max-w-[960px] max-md:mb-10 max-md:max-w-full">
      <div class="self-start text-3xl font-bold text-neutral-900 max-md:max-w-full">System Management</div>
      <div class="self-start mt-3 text-sm leading-5 text-slate-500 max-md:max-w-full">Configure system settings and manage your organization's data</div>
      <div class="mt-11 text-2xl font-bold leading-7 text-neutral-900 max-md:mt-10 max-md:max-w-full">Quick Actions</div>
      <div class="mt-7 max-md:pr-5 max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
          <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
            <button class="flex flex-col grow self-stretch p-4 w-full bg-white rounded-lg border border-solid border-zinc-200 max-md:mt-3 text-left" onclick="location.href='#'"> 
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d2287ec477e864e64fc8debf71cab5a6e73e376a41fba4a585a981e501df4714?" class="w-6 aspect-square" />
              <div class="mt-3 text-base font-bold text-neutral-900">Create new</div>
              <div class="mt-1 text-sm leading-5 text-slate-500">Create new configuration or parameter</div>
            </button> <!--andito yung button maga redirect sa paggawa ng bagong parameter -->
          </div>
          <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
            <div class="flex flex-col grow self-stretch p-4 w-full bg-white rounded-lg border border-solid border-zinc-200 max-md:mt-3">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/430dd048f8fbf658fd062b56c56b2075b689b4c27e6f04cfd975212920e61bb6?" class="w-6 aspect-square" />
              <div class="mt-3 text-base font-bold text-neutral-900">Edit/Delete existing</div>
              <div class="mt-1 text-sm leading-5 text-slate-500">Edit or delete existing configuration or parameter</div>
            </div>
          </div>
          <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
            <div class="flex flex-col grow self-stretch p-4 w-full bg-white rounded-lg border border-solid border-zinc-200 max-md:mt-3">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0721eff94916ff22f134023ec65fe285203091feee9234fe5b849f36f3e9a82d?" class="w-6 aspect-square" />
              <div class="mt-3 text-base font-bold text-neutral-900">Audit trail</div>
              <div class="mt-1 text-sm leading-5 text-slate-500">View log of changes made to configuration or parameter</div>
            </div>
          </div>
          <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
            <div class="flex flex-col grow self-stretch p-4 w-full bg-white rounded-lg border border-solid border-zinc-200 max-md:mt-3">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e8353c15b7c5c52918dec721d7f2a6bdefbe78d21bc0b332c44169778373d021?" class="w-6 aspect-square" />
              <div class="mt-3 text-base font-bold text-neutral-900">DTR adjustment</div>
              <div class="mt-1 text-sm leading-5 text-slate-500">Adjust DTR for specific employee</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  