<link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">

<div class="relative flex flex-col items-center justify-center min-h-screen ">

  <!-- Text and logo at the top -->
  <div class="absolute top-7 text-center w-full">
    <div class="flex items-center justify-center">
      <img src="assets/LOGO-main.png" alt="Logo" class="h-10 w-10 mr-2">
      <p class="text-black">Quanby IT solutions Inc.</p>
    </div>
  </div>

  <!-- Container for the login box -->
  <div class="flex bg-white h-4/6 shadow-lg rounded-lg overflow-hidden w-[70%]">

    <!-- Left side for SVG illustration (hidden on small screens) -->
    <div class="md:flex basis-[65%] justify-center align-center flex-col bg-[#E9ECF1]">
      <!-- SVG image centered within its container -->
      <img src="assets/laptopgirl.svg" alt="laptopgirl" class="object-contain h-[60%] mx-10 ">

      <!-- Paragraph below the SVG image -->
      <p class="text-center p-5 text-gray-600 text-balance -mb-5">Kindly input your account credentials to access<br> the <strong>Human Resource Information System.</strong></p>
    </div>

    <!-- Right side for the login form -->
    <div class="flex basis-[35%] justify-center align-center flex-col ml-9 mr-9 bg-white">
      <!-- Welcome text -->
      <p class="text-3xl font-black text-black text-center">Welcome Back!</p>

      <!-- Error message alert -->
      <div *ngIf="errorMessage" class="mt-4 p-3 bg-red-100 border border-red-400 text-red-700 rounded">
        {{ errorMessage }}
      </div>

      <!-- Login form -->
      <form (ngSubmit)="onSubmit()">
        <!-- Email input field -->
        <div class="mt-4">
          <label for="email" class="block text-gray-600 p-2">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" class="w-full h-10 px-4 py-2 mt-1 border-none bg-[#E9ECF1] rounded-md focus:bg-custom-gradient outline-none" required>
        </div>

        <!-- Password input field -->
        <div class="mt-4">
          <label for="password" class="block text-gray-600 p-1">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" class="w-full h-10 px-4 py-2 mt-1 border-none bg-[#E9ECF1] rounded-md focus:bg-custom-gradient outline-none" required>
        </div>

        <!-- Submit button -->
        <div class="flex items-center justify-center mt-5">
          <button type="submit" [disabled]="isLoading" class="w-full h-10 px-4 py-2 mt-2 border-none rounded-md text-white bg-blue-600 hover:bg-blue-700 disabled:bg-blue-300">
            <span *ngIf="!isLoading" class="font-medium">Log In</span>
            <span *ngIf="isLoading">Logging in...</span>
          </button>
        </div>
        <div class="flex justify-center mt-4">
          <button type="button" class="border-none rounded-md underline text-blue-700" (click)="submitTicket()">
           Submit a Ticket
          </button>
          <ng-container #popupHostContainer></ng-container>
        </div>
      </form>
    </div>
  </div>

  <!-- Bottom section for contact info -->
  <div class="absolute bottom-5 text-center w-full">
    <div class="flex justify-center space-x-4">
      <!-- Email -->
      <div class="flex items-center">
        <img src="assets/Email.png" alt="Email" class="h-6 w-6 mr-2">
        <a href="mailto:inquiries@quanbyit.com" class="text-black">inquiriesquanbyit.com</a>
      </div>
  
      <!-- Facebook -->
      <div class="flex items-center">
        <img src="assets/facebook.png" alt="Facebook" class="h-6 w-6 mr-2">
        <a href="https://www.facebook.com/quanbysolutionsinc/" target="_blank" rel="noopener noreferrer" class="text-black">Quanby Solutions Inc.</a>
      </div>
  
      <!-- Telephone -->
      <div class="flex items-center">
        <img src="assets/telno.png" alt="Telno" class="h-6 w-6 mr-2">
        <a class="text-black">052 4311169 / 742 1170</a>
      </div>
    </div>
  </div>
  

</div>