<div class="flex justify-center items-center min-h-screen bg-white">
    <div class="flex flex-col px-4 py-3 text-sm">
        <div class="overflow-x-auto bg-slate-50 border border-slate-300 rounded-xl">
        <table class="w-full text-left">
            <thead class="bg-slate-50">
            <tr>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Time In</th>
                <th class="px-4 py-3">Time Out</th>
                <th class="px-4 py-3">Department</th>
                <th class="px-4 py-3">Old Value</th>
                <th class="px-4 py-3">New Value</th>
            </tr>
            </thead>
            <tbody class="text-slate-500">
            <tr class="border-t border-gray-200">
                <td class="px-4 py-2 text-neutral-900">2 days ago</td>
                <td class="px-4 py-2">Jennifer Davis</td>
                <td class="px-4 py-2">Set</td>
                <td class="px-4 py-2">Email</td>
                <td class="px-4 py-2">jenniferacmeinc.com</td>
                <td class="px-4 py-2">jennyacmeinc.com</td>
            </tr>
            <tr class="border-t border-gray-200">
                <td class="px-4 py-2 text-neutral-900">1 week ago</td>
                <td class="px-4 py-2">Jennifer Davis</td>
                <td class="px-4 py-2">Set</td>
                <td class="px-4 py-2">First name</td>
                <td class="px-4 py-2">Jenny</td>
                <td class="px-4 py-2">Jennifer</td>
            </tr>
            <tr class="border-t border-gray-200">
                <td class="px-4 py-2 text-neutral-900">3 weeks ago</td>
                <td class="px-4 py-2">Jennifer Davis</td>
                <td class="px-4 py-2">Set</td>
                <td class="px-4 py-2">Email</td>
                <td class="px-4 py-2">jennyacmeinc.com</td>
                <td class="px-4 py-2">jenniferacmeinc.com</td>
            </tr>
            <tr class="border-t border-gray-200">
                <td class="px-4 py-2 text-neutral-900">1 month ago</td>
                <td class="px-4 py-2">Jennifer Davis</td>
                <td class="px-4 py-2">Set</td>
                <td class="px-4 py-2">Last name</td>
                <td class="px-4 py-2">Davis</td>
                <td class="px-4 py-2">Davies</td>
            </tr>
            <tr class="border-t border-gray-200">
                <td class="px-4 py-2 text-neutral-900">2 months ago</td>
                <td class="px-4 py-2">Jennifer Davis</td>
                <td class="px-4 py-2">Set</td>
                <td class="px-4 py-2">Email</td>
                <td class="px-4 py-2">jenniferacmeinc.com</td>
                <td class="px-4 py-2">jennyacmeinc.com</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>