<div class="flex flex-col justify-center bg-white">
    <header class="flex gap-0 justify-between px-10 py-3 border-b border-gray-200 border-solid max-md:flex-wrap max-md:px-5">
      <div class="flex gap-4 my-auto">
        <div class="flex justify-center items-center my-auto">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c02e6cd63e92c50303cc480bb1939b6953abab922740ef9a24aa662fdd26a373?apiKey=212e594707464ecfadeb0b77193908dc&" alt="" class="w-4 aspect-square" />
        </div>
        <h1 class="justify-center text-lg font-bold leading-6 text-neutral-900">Quanby</h1>
      </div>
      <nav class="flex flex-1 gap-5 pl-20 max-md:flex-wrap">
        <ul class="flex gap-5 justify-between py-2.5 text-sm font-medium leading-5 whitespace-nowrap text-neutral-900">
          <li><a href="#" class="justify-center">edit</a></li>
          <li><a href="#" class="justify-center">edit</a></li>
          <li><a href="#" class="justify-center">edit</a></li>
          <li><a href="#" class="justify-center">edit</a></li>
          <li><a href="#" class="justify-center">edit</a></li>
          <li><a href="#" class="justify-center">edit</a></li>
        </ul>
        <div class="flex gap-2">
          <button class="flex flex-col justify-center items-center px-2.5 w-10 h-10 rounded-xl bg-slate-200">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd1aa157d3cac9a736b410c108bec997038c8cad779eb2f8cb7d598358dfe145?apiKey=212e594707464ecfadeb0b77193908dc&" alt="" class="w-5 aspect-square" />
          </button>
          <button class="flex flex-col justify-center items-center px-2.5 w-10 h-10 rounded-xl bg-slate-200">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/585381a4d607829da2710797e0794f007cb0df00acc2a0ab2fda8d92a1f923cc?apiKey=212e594707464ecfadeb0b77193908dc&" alt="" class="w-5 aspect-square" />
          </button>
          <button class="flex flex-col justify-center items-center px-2.5 w-10 h-10 rounded-xl bg-slate-200">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9bebe509bafa9cca11164344174783b022bbe534e21c5d8d1ba949ac3379010e?apiKey=212e594707464ecfadeb0b77193908dc&" alt="" class="w-5 aspect-square" />
          </button>
        </div>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3b80a728f1868c7ede96a5b87633d5e4799b969a04617f1b6f29ac07d42b101e?apiKey=212e594707464ecfadeb0b77193908dc&" alt="" class="shrink-0 w-10 aspect-square" />
      </nav>
    </header>
    <main class="flex justify-center items-center px-16 py-5 w-full max-md:px-5 max-md:max-w-full">
      <section class="flex flex-col pb-20 w-full max-w-[960px] max-md:max-w-full">
        <div class="flex flex-col flex-wrap gap-y-3 justify-center content-start items-start p-4 max-md:pr-5 max-md:max-w-full">
          <div class="flex flex-col w-72 max-w-full">
            <h2 class="justify-center text-3xl font-bold text-neutral-900">Audit trail</h2>
            <p class="justify-center mt-3 text-sm leading-5 text-slate-500">View a log of changes made to your data</p>
          </div>
        </div>
        <div class="flex flex-col justify-center px-4 py-3 max-md:max-w-full">
          <form class="flex flex-col justify-center max-md:max-w-full">
            <div class="flex gap-0 rounded-xl max-md:flex-wrap max-md:max-w-full">
              <label for="searchAudit" class="sr-only">Search audit trail</label>
              <div class="flex flex-col justify-center items-start px-4 py-3 rounded-xl bg-slate-200">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/737435174f24218f5be3857232a2046cde509747d10ee2e64ba9a4bf2ff1f7a0?apiKey=212e594707464ecfadeb0b77193908dc&" alt="" class="w-6 aspect-square" />
              </div>
              <input
                type="search"
                id="searchAudit"
                placeholder="Search audit trail"
                class="flex-1 justify-center py-2 pr-4 pl-2 text-base leading-6 rounded-none bg-slate-200 text-slate-500 max-md:max-w-full"
              />
            </div>
          </form>
        </div>
        <div class="flex flex-col justify-center px-4 py-3 mb-1.5 text-sm leading-5 max-md:max-w-full">
          <div class="flex flex-col justify-center p-px rounded-xl border border-solid bg-slate-50 border-slate-300 max-md:max-w-full">
            <table class="w-full">
              <thead>
                <tr class="flex gap-0 bg-slate-50 max-md:flex-wrap">
                  <th class="justify-center px-4 py-3 whitespace-nowrap">Date/Time</th>
                  <th class="justify-center px-4 py-3 whitespace-nowrap">User</th>
                  <th class="justify-center px-4 py-3 whitespace-nowrap">Action</th>
                  <th class="justify-center px-4 py-3 whitespace-nowrap">Parameter</th>
                  <th class="justify-center px-4 py-3">Old value</th>
                  <th class="justify-center px-4 py-3">New value</th>
                </tr>
              </thead>
              <tbody class="flex flex-col text-slate-500 max-md:max-w-full">
                <tr class="flex gap-0 py-px border-t border-gray-200 border-solid max-md:flex-wrap">
                  <td class="justify-center px-4 py-2 text-neutral-900">2 days ago</td>
                  <td class="justify-center px-4 py-2 leading-5">Jennifer Davis</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Set</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Email</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">jenniferacmeinc.com</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">jennyacmeinc.com</td>
                </tr>
                <tr class="flex gap-0 py-px border-t border-gray-200 border-solid max-md:flex-wrap">
                  <td class="justify-center px-4 py-2 text-neutral-900">1 week ago</td>
                  <td class="justify-center px-4 py-2 leading-5">Jennifer Davis</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Set</td>
                  <td class="justify-center px-4 py-2">First name</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Jenny</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Jennifer</td>
                </tr>
                <tr class="flex gap-0 py-px border-t border-gray-200 border-solid max-md:flex-wrap">
                  <td class="justify-center px-4 py-2 text-neutral-900">3 weeks ago</td>
                  <td class="justify-center px-4 py-2 leading-5">Jennifer Davis</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Set</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Email</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">jennyacmeinc.com</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">jenniferacmeinc.com</td>
                </tr>
                <tr class="flex gap-0 py-px border-t border-gray-200 border-solid max-md:flex-wrap">
                  <td class="justify-center px-4 py-2 text-neutral-900">1 month ago</td>
                  <td class="justify-center px-4 py-2 leading-5">Jennifer Davis</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Set</td>
                  <td class="justify-center px-4 py-2">Last name</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Davis</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Davies</td>
                </tr>
                <tr class="flex gap-0 py-px border-t border-gray-200 border-solid max-md:flex-wrap">
                  <td class="justify-center px-4 py-2 text-neutral-900">2 months ago</td>
                  <td class="justify-center px-4 py-2 leading-5">Jennifer Davis</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Set</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">Email</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">jenniferacmeinc.com</td>
                  <td class="justify-center px-4 py-2 whitespace-nowrap">jennyacmeinc.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
  </div>