/* You can add global styles to this file, and also import other style files */
/* ./src/styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f3f4f6; /* Light gray background color */
    background-image: url('assets/Background.png'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  